.posts__wrapper {
    padding: 20px;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.posts__search-container {
    width: 100%;
    margin-bottom: 20px;
}

.posts__search-input {
    width: 100%;
    padding: 10px 15px;
    box-sizing: border-box;
    border: 2px solid blue;
}

.search__info {
    margin-top: 5px;
    color: blue;
}

.posts {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
}

.post__card {
    border: 1px solid grey;
    padding: 15px;
}

.post__content {
    padding: 10px;
}

.post__title {
    font-size: 18px;
    margin-bottom: 10px;
}

.post__text {
    margin-bottom: 15px;
    color: #333;
    font-size: 14px;
}

.post__date {
    color: #666;
    font-size: 14px;
    margin-bottom: 10px;
}

.post__image-wrapper {
    margin-top: 15px;
    text-align: center;
}

.post__image {
    width: 100%;
    height: 300px;
    object-fit: contain;
}


.posts__no-results {
    text-align: center;
    padding: 20px;
    color: green;
}



.posts__error-message {
    color: red;
}


/* кнопка Preview */
.post__preview-open {
    background-color: #4285f4;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

/* модальное окно preview */
.post__preview-overlay,
.img-preview-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);


}

.post__preview-overlay .post__card {
    max-width: 900px;
    width: 100%;
    min-height: 200px;
    overflow: auto;
    padding: 30px;
    background-color: #4285f4;
    display: flex;
    flex-direction: column;
    gap: 25px;

}

.post__preview-overlay .post__content {
    padding: 0;
    width: 100%;

}

.post__preview-overlay .post__title {
    font-size: 28px;
    margin-bottom: 20px;
}

.post__preview-overlay .post__text {
    font-size: 16px;
    line-height: 1.6;
}

.post__preview-overlay .post__image-wrapper {
    max-width: 100%;
    margin: 25px 0;
    align-self: center;
}

.post__preview-overlay .post__image {
    max-height: 400px;

}

.post__preview-close,
.img-preview-close {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #4285f4;
}


.img-preview-content {
    max-width: 90%;
    max-height: 90%;
    position: relative;
}

.img-preview {
    max-width: 100%;
    max-height: 90vh;
    object-fit: contain;
}

.vote-buttons {
    display: flex;
    gap: 4px;
    margin-top: 10px;
}

.vote-button {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 6px 12px;
    border: none;
    background: none;
    transition: all 0.2s;
    outline: none;
}


.like-button:hover {
    background-color: rgba(74, 222, 128, 0.5);
}

.dislike-button:hover {
    background-color: rgba(248, 113, 113, 0.5);
}
.posts__tabs{
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    justify-content: space-between;
    
}
.posts__tabs button{
    padding: 8px 16px;
    background: none;
    border: none;
    font-size: 16px;
    color: #666;
    
}
.posts__tabs button.active{
    color: #4285f4;
    font-weight: bold;
    border: 2px solid #4285f4;
}