.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
 }

 .header {
     width: 100%;
     height: 60px;
     background-color: blue;
     display: flex;
     justify-content: flex-start;
     align-items: center;
 }

 .layout__content{
     margin: 0 auto;
     max-width: 800px;
     width: 100%;
     padding: 20px;
    
 }
 .layout__btn{
     padding: 8px 16px;
     background-color: #e0e0e0;
     border: none;
     font-size: 14px;
 }
 .layout__title{
     margin-bottom: 20px;
     font-size: 36px;
     text-align: center;
 }

 .light__theme,
 .light__inner{
     background-color: white;
     color: #333;
 }

 .dark__theme,
 .dark__inner{
     background-color: black;
     color: white;
 }


 .dark__inner .success__textarea{
 background-color: black;
 color: white;
 border: none;
 }

 .footer{
    max-width: 800px;
    width: 100%;
    padding: 20px;
    text-align: center;
    margin: auto;
    border-top: 1px solid gray;
    color: gray;
 }