.success__mode{
    text-align: center;
    padding: 20px;
}
.success__textarea{
    width: 100%;
    margin-bottom: 20px;
}

.success__btn{
    background-color: blue;
    color: white;
    padding: 10px 20px;
}

